@import "tailwindcss";

@font-face {
    font-family: "Geist";
    src: url("../assets/font/Geist/Geist-Thin.ttf") format("truetype");
    font-weight: 100;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/font/Geist/Geist-ExtraLight.ttf") format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/font/Geist/Geist-Light.ttf") format("truetype");
    font-weight: 300;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/font/Geist/Geist-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/font/Geist/Geist-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/font/Geist/Geist-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/font/Geist/Geist-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/font/Geist/Geist-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}

@font-face {
    font-family: "Geist";
    src: url("../assets/font/Geist/Geist-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Flatlion";
    src: url("../assets/font/Flatlion/Flatlion Personal Use Only.ttf") format("truetype");
    font-weight: 400;
}

@layer utilities {

    .font-geist {
        font-family: "Geist", sans-serif;
    }

    .font-flatlion {
        font-family: "Flatlion", sans-serif;
    }
}

